body {
	background: #F5F5F1;
	font-family: Arial;
	height:100%;
	
}

#overlay  {
	background-color: black;
	height:100%;
	width:100%;
	position: absolute;
	opacity: .5;
	z-index: 2;

}
a {
	text-decoration: none;
	color:#0192B5;
}

a:hover {
	text-decoration: underline;
}

#navBar {
	border-bottom: 1px solid #E1E3DF;
	height:80px;
	background: #fff;
	margin:auto;
	width: 100%;

}

.wrapperNav {
	min-width:1050px;
	margin:auto;

}


h1 {
	float: left;
	position: relative;
	left:40px;
	top:20px;
	margin:0px;
	margin-right:65px;
	color:#F56400;
	font-family:times;
	font-weight: normal;
	font-size: 40px;
}
#searchBar {
	float: left;
	position: relative;
	top:25px;
	height:30px;
	width:230px;
	background: #FFFFFF;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	border:1px solid #CFCBC8;
	outline: none;
	padding-left: 10px;
	background-color: #FBFBFA;
}
#searchBar:hover {
	border:1px solid #bfbaba;
}
#searchButton {
	position: relative;
	float: left;
	top:25px;
	height:34px;
	width:80px;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	outline: none;
	border:none;
	background-color: #34A8C4;
	color:white;
	font-weight: bold;
	font-size: 14px;
}
#options {
	float: left;
	position: relative;
	top:35px;
	margin: 0px;
	left:250px;
}


#options li{
	float:left;
	display: inline;
	position: relative;
	padding-right: 15px;
	color:#0192B5;
}

#cart:before {
	content: url("assets/cart.png");
	display:block;
	transform:scale(.65);
	height: 30px;
	width:25px;
	position: relative;
	right: 6px;
}


 #options #cart {
	color:#5D5D5D;
	position: relative;
	top:-17px;
	font-size: 12px;
	border-left:1px solid #E1E3DF;
	padding-left: 8px;
	height:42px;

}

#signInButton {
	height:35px;
	position: relative;
	top:-10px;
	background:#fff;
	border:1px solid #0192B5;
	border-radius: 3px;
	outline: none;
}

#signInForm {
	position: absolute;
	top:13.5%;
	left:20%;
	height:480px;
	width:550px;
	background-color:#fff;
	border-radius:3px;
	border:1px solid #DADBD6;
	z-index: 3;
}
.hidden {
	display: none;
}

.darken {
	display: none;
}



#signInTab {
	height:60px;
	background-color: #F5F5F1;
	margin-bottom:20px;
}

#signInTab ul {
	margin:0;
	position: relative;
	left:45px;
	top:26px;
}

#signInTab li {
	float: left;
	padding:9px;
	border:1px solid #E1E3DF;
	border-bottom:none;
	font-size: 14px;
}

#default {
	background-color: white;

}

.btnForm {
	width:200px;
	height:35px;
	border:none;
	border-radius:3px;
	color:white;
}

#alignDiv {
	margin-left: 70px;
	width:430px;

}

#emailInput {
	width:195px;
	height:25px;
}
#passwordInput {
	width:195px;
	height:25px;
}

#staySignedIn {
	margin:15px 0 15px 0;
}
#alignDiv p {
	font-size: 14px;
}
#facebookBtn {
	display: block;
	background:#3B5998;
	margin-left: 70px;	
	margin-bottom: 8px;
}

#googleBtn {
	display: block;
	background:#DC4E41;
	margin-left: 70px;
}
#passwordInput {
	display: block;
}

#signInBtnForm {
	display: block;
	background:#34A8C4;

}

#hrForm {
	margin-top:15px;
}

#passQuestions {
	font-size: 12px;
}

#signInButton a {
	text-decoration: none;
}

#signInButton:hover {
	background-color: #ADD8E6;
}
.clearfix {
	content: "";
	display: block;
	clear: both;

}

#categories {
	
	height:40px;
	border-bottom:1px solid #E1E3DF;
	background: #fff;
	color:#888888;
	margin-bottom: 30px;
	width: 100%;
	position: relative;
	min-width: 1050px;
	font-size: 14px;

}


.menuLi:hover {
	border-bottom: 5px solid orange;
	color:#000;
}





.catDiv1 {
	position: absolute;
	top:32px;
	width:980px;
	background-color: #fff;
	z-index: 2;
	display: none;
	height:500px;
	
}

.innerMenu {
	position: absolute;
	left:190px;
	padding:15px;
	top:0px;
	
}



.innerMenuLi {
	margin:5px;
	color:black;
}

.innerMenuLi a {
	color:black;
}

.acc1_1 {
	display: none;
}

.acc2_1 {
	display: none;
}




.displayBlock {
	display: block;
}


.subMenuLi {
	padding:15px;

}

.subMenuLi:hover {
	background-color: #E5F4F7;
	color:#87B4D7;
}


#catList {
	margin:0;
	position: relative;
	top:10px;
	left:40px;
}
#catList .menuLi{
	float:left;
	position: relative;
	padding-right:10px;
	height: 26px;
}

.subMenu {
	width:200px;
	border-right:1px solid #E1E3DF;
	height:500px;
}



h3 {
	font-size: 12px;

}

#bodyContainer {
	width:1000px;
	background: #F5F5F1;
	margin:auto;
}

#allCategories {
	position: relative;
	float: left;
	width:230px;
	background-color: white;
	border-radius:3px;
	border:1px solid #E1E3DF;
	margin-bottom: 30px;
	padding-bottom: 10px;
	margin-right:15px;

}

#categoryGrid {
	height:447px;
	width:717px;
	float: left;
	position: relative;
	border-bottom: 1px solid #E1E3DF;
}



#categoryGrid div {
	float: left;
	border-radius: 3px;
}


.whiteLabelLarge {
	background: white;
	position: relative;
	padding:10px;
	width:120px;
	text-align: center;
	border-radius:3px;
	margin:auto;
	top:60%;
}

.whiteLabelSmall {
	background: white;
	position: relative;
	padding:10px;
	width:100px;
	text-align: center;
	border-radius:3px;
	margin:auto;
	top:50%;
}



#one {
	border-radius:3px;
	background-image:url("https://img1.etsystatic.com/067/0/10424705/il_340x270.757475485_b1ig.jpg");
	background-repeat:no-repeat;
}

#two {
	border-radius:3px;
	margin-left:35px;
	background-image:url("https://img1.etsystatic.com/000/0/6374837/il_340x270.284032277.jpg");
	background-repeat:no-repeat;
}

#three{
	border-radius:3px;
	background-image:url("https://img0.etsystatic.com/047/1/7101908/il_340x270.713153156_i7yn.jpg");
	background-repeat:no-repeat;
}

#four {
	border-radius:3px;
	margin-left:16px;
	background-image:url("https://img0.etsystatic.com/057/1/10345019/il_340x270.763319240_5yxw.jpg");
	background-repeat:no-repeat;
}

#five{
	border-radius:3px;
	margin-left:16px;
	background-image:url("https://img0.etsystatic.com/070/0/9138920/il_340x270.820008594_2juk.jpg");
	background-repeat:no-repeat;
}


.large {
	width:340px;
	height:250px;
	margin-bottom: 8px;

}



.small {
	width:228px;
	height:165px;

}

.small img:last-child() {
	margin-right:0;
}

#home {
	margin-right: 15px;
}

#allCat {
	position: relative;
	top:10px;
	left:10px;
	font-size: 12px;
	display: block;
}


#allCatList {
	padding:0px;
	position: relative;
	left:25px;
}

#allCatList li{
	list-style: none;
	margin-bottom: 9px;
	font-size: 12px;

}

#itemType {
	font-size: 12px;

}
hr {
	margin-top:30px;
	border:none;
	height: 1px;
	background-color:#E1E3DF;
}

#refineSearch {
	width:230px;
	background-color: white;
	border-radius:3px;
	border:1px solid #E1E3DF;
	margin-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing:border-box;
	padding-bottom: 10px;
	position: relative;
	float: left;
}



#container {
	float: right;
	width:740px;
	position: relative;
	right:15px;
}


#itemContainer img {
	width:225px;
	height:179px;
}


#refineSearch li {
	color:#0192B5;
	font-size: 14px;
}
#radioList {
	list-style: none;
	padding:0px;
	position: relative;
	margin:0px;
	top:5px;
}
.btn {
	margin-right: 5px;
}
#radioList li{
	list-style: none;
	margin-bottom: 9px;
	

}

#priceLow {
	width:60px;
	height:30px;
	border-radius: 3px;
	border:1px solid #CFCBC8;
	text-align: center;
	outline: none;
	font-size: 14px;
}

#priceLow:hover {
	border:1px solid #bfbaba;
}
#priceLow:focus {
	border:1px solid #0192B5;
}
#to {
	font-size: 14px;
	color:#555555
}
#priceHigh {
	width:60px;
	height:30px;
	border-radius: 3px;
	border:1px solid #CFCBC8;
	text-align: center;
	outline: none;
	font-size: 14px;

}

#priceHigh:hover {
	border:1px solid #bfbaba;
}

#priceHigh:focus {
	border:1px solid #0192B5;
}

#triangle  {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 8px;
	border-color: transparent transparent transparent #5c6a78;
	position: relative;
	margin:auto;
}
#goBtn {
	width:40px;
	height:34px;
	border-radius: 3px;
	border:1px solid #CFCBC8;
	text-align: center;
	position: relative;
	top:8px;
	left:4px;
	background:#fff;
	outline: none;

}

#goBtn:hover {
	background-color: #F5F5F1;
}

.colorDiv {
	height:18px;
	width:18px;
	border:1px solid #E1E3DF;
	float: left;
	margin-right: 6px;
	border-radius:2px;
	margin-bottom: 30px;
}

#redBox {
	background: red;
}

#orangeBox {
	background: orange;
}


#yellowBox {
	background: yellow;
}


#greenBox {
	background: green;
}


#blueBox {
	background: blue;
}


#purpleBox {
	background: purple;
}


#blackBox {
	background: black;
}


#whiteBox {
	background: #fff;
}

ul {
	padding:0px;
}

li {
	list-style:none;
}

#selectCountry {
	height:40px;
	background-color: white;
	width:205px;
}



#myList {
	float: left;
	width:228px;
	margin:0 16px 20px 0;
	background-color: #fff;
	position: relative;
	top:20px;
	border:1px solid #E1E3DF;
	border-radius: 3px;
}

#heart {
	z-index: 1;
	position: absolute;
	top:5px;
	right:35px;
	background-size: 50%;
	height: 20px;
	width:20px;
	padding:3px;
	background-color: #fff;
	border-radius:3px;
	display: none;
}
#hamburger {
	z-index: 1;
	position: absolute;
	top:5px;
	right:4px;
	background-size: 50%;
	height: 20px;
	width:20px;
	padding:3px;
	background-color: #fff;
	border-radius:3px;
	display: none;
}

#myList:hover #heart {
	display: block;
}

#myList:hover #hamburger {
	display: block;
}

#myList:hover {
	  box-shadow: 1px 1px 1px #E1E3DF;
}
#myList ul {
	padding: 0px;
}


#myListImg {
	width:228px;

}



#myListTitle {

	margin-left:8px;
	font-size: 12px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	color:#555555;
	text-decoration: none;
}

#myList a {
	text-decoration: none;
}

#secondLine {
	margin:3px;
}
#myListPrice {
	font-size: 12px;
	position:relative;
	float: right;
	margin-right: 3px;
	top:13px;
	color:#78C053;
}

#myListCode {
	float: right;
	font-size: 12px;
	position: relative;
	top:13px;
	margin-right: 5px;
	color:#78C053;
}

#myListShopName {
	width:120px;
	margin-left:6px;
	font-size: 12px;
	float: left;
	color:#AFAFB9;
}

#related {
	width:700px;
	height:150px;
	position: relative;
	top:20px;
	clear: both;
}

.relatedList {
	float: left;
	margin-right: 60px;
	font-size: 12px;

}

#lookShops {
	font-size: 14px;
}

#subscribeDiv {
	text-align: center;
	position: relative;
	top:40px;
}

#subContainer {
	margin:25px;
	padding-bottom: 20px;
	width:80%;
	border:10px solid #EFEFEB;
	margin:auto;
}
#topTrends {
	font-size: 12px;
}
#emailBar {
	height:30px;
	width:230px;
	padding-left: 4px;
	position: relative;

}

#emailBtn {
	position: relative;
	margin-left: 10px;	
	height:36px;
	width:80px;
	border-radius: 3px;
	border:none;
	background-color: #34A8C4;
	color:white;
	font-weight: bold;
	font-size: 14px;
}

#footerLinks {
	width: 100%;
	margin-left:20px;

}

.footerList {
	position: relative;
	top:50px;
	float: left;
	text-align: justify;
	margin-right:35px;
	font-size: 14px;
}
.footerList >li {
	color:#333333;
}

.footerList li {
	margin-bottom: 5px;
}

#openShopBtn {
	background-color: #34A8C4;
	color:white;
	border-radius: 3px;
	border:none;
	height:25px;
	font-size: 14px;
	margin-bottom: 20px;
}
 #btnList  {
	margin:0;
}
#btnList li {
	display: inline;
	font-size: 12px;
	float: left;
}



#btnList button:hover {
	background-color: #ADD8E6;
}

#btnList a {
	text-decoration: none;
	color:#666666;
}

#btnListDiv {
	margin:auto;
	width:400px;
	height:100px;
	position: relative;
	top:80px;
	margin-bottom: 40px;
}


#usBtn  {
	width:115px;
	height: 34px;
	background-color:#F5F5F1;
	border:1px solid #E2E2E2;
	padding:0;
	border-top-left-radius:3px; 
	border-bottom-left-radius:3px; 
}

#langBtn {
	width:90px;
	height:34px;
	background-color:#F5F5F1;
	border:1px solid #E2E2E2;
}

#currencyBtn {
	width:55px;
	height:34px;
	background-color:#F5F5F1;
	border:1px solid #E2E2E2;
	border-top-right-radius:3px; 
	border-bottom-right-radius:3px; 
}

#helpBtn {
	width:100px;
	height:34px;
	background-color:#F5F5F1;
	border:1px solid #E2E2E2;
	border-radius:3px;
	float: left;
	margin-left: 30px;
}


#helpBtn:hover {
	border: 1px solid #555;
}
#helpBtn a {
	color:#666666;
	text-decoration: none;
}

#documents {
	margin: 0;
	padding:0;
	float: left;
	font-size: 12px;
	color:#666666;
	

}


#documents a {
	color:#666666;
}


#copyright {
	float: left;
	padding-right: 10px;
	font-size: 12px;
	color:#999999;
}
#documents li {
	float: left;
	padding-right: 10px;
}

#end {
	width:350px;
	margin:auto;
}
