* {
  list-style-type: none; }

body {
  background: #F5F5F1; }

a {
  color: #0192B5;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

#title {
  color: #f45800;
  font-size: 40px;
  font-family: times; }

.header {
  border-bottom: solid 1px #E1E3DF;
  background: white;
  height: 75px; }

#headerContainer {
  float: right;
  margin-top: -60px;
  margin-right: 75px; }

#searchForm {
  margin-top: 10px;
  margin-left: 50px; }

#searchForm li {
  display: inline; }

#searchForm button {
  background: #3cb1cb;
  border-radius: 5px;
  height: 33px;
  margin-left: -5px;
  color: white; }

#searchForm input {
  margin-top: 20px;
  margin-left: 25px;
  width: 200px;
  height: 25px;
  border-radius: 5px; }

#headerContainer li {
  display: inline;
  margin: 10px; }

#headerContainer button {
  border: solid 1px #0192B5;
  border-radius: 5px;
  background-color: white;
  color: #0192B5;
  height: 33px; }

#headerList li {
  display: inline;
  margin: 5px; }

.newBorder {
  border: solid 1px #E1E3DF;
  background: white; }

#headerList {
  margin-left: 60px;
  font-size: 15px;
  color: #555;
  background: white; }

#resultsTitle {
  color: #555;
  font-size: 15px;
  margin-left: 100px;
  margin-top: 35px; }

#resultsTitle h3 {
  width: 20px; }

#categoriesContainer {
  margin-top: 5px;
  margin-left: 100px;
  float: left;
  border: solid 1px #E1E3DF;
  border-radius: 3px;
  height: 450px;
  width: 250px;
  overflow: auto;
  font-size: 13px;
  background: white; }

#categoriesContainer li {
  padding: 5px; }

#searchRefine {
  margin: 5px;
  margin-top: 500px;
  margin-left: 100px;
  font-size: 15px;
  color: #555; }

#otherCategories {
  margin-left: 400px;
  font-size: 12px; }

.searchContainer {
  border: solid 1px #E1E3DF;
  border-radius: 3px;
  width: 250px;
  overflow: auto;
  margin-left: 100px;
  font-size: 13px;
  background: white;
  float: left;
  padding: 10px; }

#shipTo h3 {
  color: #555; }

#shipTo select {
  background: white;
  width: 200px;
  height: 50px; }

.movingInside li {
  margin-left: -10px; }

#filterColor input {
  border-radius: 4px;
  width: 1.6em; }

.itemType {
  border-bottom: 1px solid #E1E3DF; }

#priceRange {
  border-bottom: 1px solid #E1E3DF; }

#priceRange input {
  width: 60px; }

input #button {
  width: 10px; }

#filterColor {
  border-bottom: 1px solid #E1E3DF; }

#orderingOptions {
  border-bottom: 1px solid #E1E3DF; }

#shopLocation {
  border-bottom: 1px solid #E1E3DF; }

#red input {
  background-color: red; }

#orange input {
  background-color: orange; }

#yellow input {
  background-color: yellow; }

#green input {
  background-color: green; }

#blue input {
  background-color: blue; }

#purple input {
  background-color: purple; }

#black input {
  background-color: black; }

#white input {
  background-color: white; }

.categoriesContainer {
  width: 735px;
  height: 427px;
  margin-left: 20px;
  margin-top: -45px;
  float: left; }

.categoriesContainer p {
  font-weight: bold; }

.top2 {
  width: 349px;
  height: 278px;
  display: inline;
  border-radius: 5px;
  margin-left: 5px; }

.top3 {
  width: 226px;
  height: 180px;
  display: inline;
  border-radius: 5px;
  margin-left: 7px; }

#itemImage {
  width: 225px;
  height: 179px; }

#itemContainer {
  width: 225px;
  height: 226px;
  float: left;
  border: solid 1px #E1E3DF;
  margin: 10px;
  height: 227px;
  background: white;
  border-radius: 3px; }

#pictureContainer {
  width: 800px;
  float: right; }

#itemTitle {
  width: 225px;
  margin-top: -40px;
  font-size: 12px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

#ownerName {
  font-size: 12px;
  float: left;
  padding-top: 10px;
  color: #AAA; }

#currency_code {
  font-size: 12px;
  float: right;
  margin-top: -18px;
  margin-left: 3px;
  color: #78c042; }

#itemPrice {
  font-size: 12px;
  float: right;
  color: #78c042;
  margin-top: -18px; }

@media (max-width: 1024px) {
  min-width: 500px; }

/*# sourceMappingURL=style.css.map */
